extends ./skeleton.jade

block top
  table.nav-bar
    tr
      td.left
        a(href='/')        
          .item
            .fa.fa-home
      td.right
        table
          tr
            each item in ['REX', 'Events', 'Journal', 'Contact']
              td.inner-right
                a(href='/#{item.toLowerCase()}')
                  .item= item
block content
block bottom
  .footer
    .pull-left
      .fa.fa-copyright
      | 2013-2015 The Galbraith Society
    .pull-right
      a(href='mailto:gsociety.uoft@gmail.com' target='_blank')
        .fa.fa-envelope
      a(href='https://twitter.com/gb_society' target='_blank')
        .fa.fa-twitter-square
      a(href='https://www.facebook.com/GalbraithSociety' target='_blank')
        .fa.fa-facebook-square
