extends ./partials/base.jade

block content
  .index-page
    .header-panel.text-center
      .title-panel
        .header Galbraith Society
        .header-copy Promoting Undergraduate Engineering Research
      .category-panel
        .container-fluid
          .row
            .col-xs-12.col-sm-6.col-md-4
              a(href='/rex')
                .event-tile
                  .explore
                    | explore 
                    .fa.fa-arrow-right
                  .fa-container
                    .fa.fa-search
                  .event-description
                    .panel-header REX Program
                    .description Explore a field of research by working directly with an academic leader on a project during the school year
            .col-xs-12.col-sm-6.col-md-4
              a(href='/events')
                .event-tile
                  .explore
                    | explore 
                    .fa.fa-arrow-right
                  .fa-container
                    .fa.fa-calendar-check-o
                  .event-description
                    .panel-header GS Events
                    .description Workshops and Symposiums throughout the year help to build useful academic skills and discover innovative research topics
            .col-xs-12.col-sm-6.col-md-4
              a(href='/journal')
                .event-tile
                  .explore
                    | explore 
                    .fa.fa-arrow-right
                  .fa-container
                    .fa.fa-book
                  .event-description
                    .panel-header Undergrad Journal
                    .description The first peer-reviewed undergraduate journal for engineers displays student research taking place at UofT
    .sponsor-panel.text-center
      .container-fluid
        .row
          .col-xs-12.col-sm-4.sponsor-description
            | The Galbraith Society would like to thank their sponsors for all of their support.
          .col-xs-12.col-sm-8.sponsor-img-container
            .row
              each img in sponsors
                .col-xs-12.col-sm-6.col-md-4.sponsor-img-row
                  .sponsor-img(style="background-image:url('/assets/images/sponsors/#{img}')")
    .mailing-list-panel.text-center
      .sub-header Mailing List
      .sub-header-copy Join our mailing list to get updates on our latest events and programs!
        .sign-up
          a(href='https://docs.google.com/forms/d/1fMuXp4k6rPQfH9y6bTyIDr9t3XWCiRWpgNDVuilkmzs/viewform' target='_blank')
            .highlight-text Join Now