extends ./partials/base.jade

block content
  .journal-page
    .header-panel.text-center
      .sub-header Undergrad Journal
      .sub-header-copy
        br
        | Do you have a research project that you have previously worked on? With REX or perhaps over summer? What are you waiting for? Submit an abstract now to be considered to be an author for our next issue. 
        | The Galbraith Society Undergraduate Engineering Journal is now accepting abstracts for research articles and literature review articles! Abstract submissions will be accepted on a rolling basis until Tuesday, October 20th 11:59PM.
        | Each student interesting in publishing in the GSUEJ must submit an abstract to the Galbraith Society to be considered for publication (300 words maximum). Further guidelines for article submissions can be found 
        a(href='http://jps.library.utoronto.ca/index.php/galbraith/about/submissions' target='_blank' style='text-decoration:underline') here.
        |   Please address all questions to gsociety.journal@gmail.com.
      .requirements-panel
        .panel-header The following components should be considered and included within the abstract for Research Articles:
        .container-fluid
          .row
            .col-xs-12.col-md-6
              table.points
                tr
                  td.fa.fa-circle
                  td.text Introduction: 1-2 sentence statement providing an overview of the research objective
                tr
                  td.fa.fa-circle
                  td.text Methods: 2-3 sentences that describe the experiments and procedures conducted, as well as the experimental setup used
            .col-xs-12.col-md-6
              table.points
                tr
                  td.fa.fa-circle
                  td.text Results: A few sentences describing the outcome of the experiments. For those who do not have results yet, submissions may include predicted or expected results
                tr
                  td.fa.fa-circle
                  td.text Discussion: Describe the significance of the results and research
      .requirements-panel
        .panel-header The Review Article Abstract should include the following components:
        .container-fluid
          .row
            .col-xs-12.col-md-6
              table.points
                tr
                  td.fa.fa-circle
                  td.text Purpose: 1-2 sentences introducing the purpose for writing the literature review
                tr
                  td.fa.fa-circle
                  td.text Topic: Describe the main field of research where the review article is being summarized.
            .col-xs-12.col-md-6
              table.points
                tr
                  td.fa.fa-circle
                  td.text Limitations: Identify any aspects of the review where more studies could be used in the scope of the research
    .journal-panel
      .container-fluid
        .row
          .col-xs-12.col-sm-5
            .journal-portal
              a(href='http://jps.library.utoronto.ca/index.php/galbraith' target='_blank')
                .journal-bg
                  .inset
                .panel-header Journal Portal
                .fa-container
                  .fa.fa-book
                  .fa.fa-arrow-right
          .col-xs-12.col-sm-7
            .journal-blurb
              | Are you irritated by the misplaced semicolon?
              | Do you appreciate clear and concise writing?
              | The Galbraith Society wants you!
              | We’re currently hiring Journal Editors for the 2015-16 Issue of the Galbraith Society Undergraduate Engineering Journal.
              | This is an opportunity to gain significant experience in working on an academic journal publication.
              | Both graduate and undergraduate students are encouraged to join!
              div(style='text-align:left')
                a(href='http://tinyurl.com/o9m9fyy' target='_blank').highlight-text Apply Now





