extends ./partials/base.jade

block content
  .journal-page
    .header-panel.text-center
      .sub-header Undergrad Journal
      .sub-header-copy
        br
        | Do you have a research project that you have previously worked on? With REX or perhaps over summer? What are you waiting for? Submit an abstract now to be considered to be an author for our next issue. 
        | The Galbraith Society Undergraduate Engineering Journal is now accepting abstracts for research articles and literature review articles! Abstract submissions will be accepted on a rolling basis until Tuesday, October 20th 11:59PM.
        | Each student interesting in publishing in the GSUEJ must submit an abstract to the Galbraith Society to be considered for publication (300 words maximum). Further guidelines for article submissions can be found 
        a(href='http://jps.library.utoronto.ca/index.php/galbraith/about/submissions' target='_blank' style='text-decoration:underline' id='inline') here.
        |   Please address all questions to gsociety.journal@gmail.com.
        .text-center
          a(href='https://docs.google.com/forms/d/1hbHnsjneG-TYO92mSO88fwHzLu0VgcXdPozgABhaA80/viewform#start=openform' target='_blank').highlight-text Submit an Abstract
    .read-panel
      .container-fluid
        .row
          .col-xs-12.col-md-5.left
            | Read our First Issue:
          .col-xs-12.col-md-7.right
            a(href='https://drive.google.com/file/d/0BxqvxxGvWJ_NWEFaamlvejgxeVE/view?usp=sharing' target='_blank')
              | Vol 1 (2015): Galbraith Society Undergraduate Engineering Journal
    .journal-panel
      .container-fluid
        .row
          .col-xs-12.col-sm-5
            .journal-portal
              a(href='http://jps.library.utoronto.ca/index.php/galbraith' target='_blank')
                .journal-bg
                  .inset
                .panel-header Journal Portal
                .fa-container
                  .fa.fa-book
                  .fa.fa-arrow-right
          .col-xs-12.col-sm-7
            .journal-blurb
              | Are you irritated by the misplaced semicolon?
              | Do you appreciate clear and concise writing?
              | The Galbraith Society wants you!
              | We’re currently hiring Journal Editors for the 2015-16 Issue of the Galbraith Society Undergraduate Engineering Journal.
              | This is an opportunity to gain significant experience in working on an academic journal publication.
              | Both graduate and undergraduate students are encouraged to join!
              div(style='text-align:left')
                a(href='http://tinyurl.com/o9m9fyy' target='_blank').highlight-text Apply Now





