extends ./partials/base.jade

block content
  .journal-page
    .header-panel.text-center
      .sub-header Journal
      .sub-header-copy
        | Celebrate UofT's first ever undergraduate engineering journal, showcasing original research, at the inaugural event on
        br
        .highlight-text September 22nd, 2015!
        br
        | Join us to learn more about the process behind making the journal and how you could play a role in it. Feel free to email 
        a(href='mailto:gsociety.uoft@gmail.com' target='_blank') gsociety.journal@gmail.com 
        | for any questions. We hope to see you there!
    .journal-panel
      .container-fluid
        .row
          .col-xs-12.col-sm-5
            .journal-portal
              a(href='http://jps.library.utoronto.ca/index.php/galbraith' target='_blank')
                .panel-header Journal Portal
                .fa-container
                  .fa.fa-book
          .col-xs-12.col-sm-7
            .journal-blurb
              | Are you irritated by the misplaced semicolon?
              | Do you appreciate clear and concise writing?
              | The Galbraith Society wants you!
              | We’re currently hiring Journal Editors for the 2015-16 Issue of the Galbraith Society Undergraduate Engineering Journal.
              | This is an opportunity to gain significant experience in working on an academic journal publication.
              | Both graduate and undergraduate students are encouraged to join!
              div(style='text-align:left')
                a(href='http://tinyurl.com/o9m9fyy' target='_blank').highlight-text Sign Up





