@import './local-variables';

// MIXINS ---------------------------------------------------------------------
@mixin fonts($family, $weight, $size, $color) {
  font-family: $family, sans-serif;
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

@mixin bgpanel($color, $panel-height: auto) {
  padding: $spacer $buffer;
  background-color: $color;
  height: $panel-height;
  width: 100%;
}

@mixin build-prefix-values($property, $value) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: #{$value};
  }
  #{$property}: #{$value};
}

@mixin transition($delay: 0s, $property: all, $duration: .5s, $timing: ease) {
  $value: $property $duration $timing $delay;
  // use default prefixes
  @include build-prefix-values('transition', $value);
}

@mixin bgimage-gradient($img, $top, $bottom) {
  @each $prefix in $prefixes {
    background: #{$prefix}-linear-gradient(rgba(0, 0, 0, $top), rgba(0, 0, 0, $bottom)), url('images/#{$img}');
  }
  background: linear-gradient(rgba(0, 0, 0, $top), rgba(0, 0, 0, $bottom)), url('images/#{$img}');
}

// GENERAL STYLES ---------------------------------------------------------------------


body {
  border: 0;
  font-family: $copy-font, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: $header-color;

  &:link {
    text-decoration: none;
  }

  &:hover {
    color: $highlight-color;
  }
}

.highlight-text {
  @include transition();
  @extend %logistics-text;
  display: inline-block;
  background-color: $dark-gray;
  margin: 1em auto;
  padding: .5em $small-spacer;
  text-transform: uppercase;

  &:hover{
    color: $header-color;
    background-color: $highlight-color;
  }
}

.category-panel {
  padding: $spacer 0;
}

.year-panel {
  @extend %logistics-text;
  width: 100%;
}

.year-tile {
  @include transition();
  background-color: $gray;

  &.active {
    background-color: $dark-gray;
  }

  &:not(.active):hover {
    background-color: $highlight-color;
  }

  a {
    color: $header-color;
  }
}

%equal-row {
  display: table;
  border: none;
}

%equal-column {
  float: none;
  display: table-cell;
  vertical-align: middle;
}

// BIG HEADER
.header {
  @include fonts($header-font, 700, $large-size, $header-color);
}

.header-copy {
  @include fonts($copy-font, 300, $medium-size, $header-color);
  letter-spacing: .5px;
}

// SMALLER HEADER
.sub-header {
  @include fonts($header-font, 700, $large-size - .5em, $copy-color);
}

.sub-header-copy {
  @include fonts($copy-font, 300, $medium-size - .1em, $copy-color);
}

.panel-header {
  @include fonts($header-font, 400, $medium-size, $copy-color);
}

%body-text {
  @include fonts($copy-font, 300, $small-size, $copy-color);
}

%logistics-text {
  @include fonts($copy-font, 700, $small-size, $header-color);
}

%nav-text {
  @include fonts($copy-font, 400, $medium-size, $header-color);
  letter-spacing: .5px;
}

// navbar item
.item {
  padding: .8em 1.2em;
}

.nav-bar {
  @extend %nav-text;
  @include transition();
  background-color: $gray;
  position: fixed;
  width: 100%;
  z-index: 1000;

  a {
    color: $header-color;
  }

  .left {
    @include transition();
    float: left;
    background-color: $dark-gray;

    &:hover {
      background-color: lighten($dark-gray, 10%);
    }

    .item {
      padding: .3em 1em;
    }

    img {
      height: 50px;
    }
  }



  .right {
    float: right;
  }

  .inner-right {
    @include transition();
    float: left;

    &:hover {
      background-color: lighten($gray, 10%);
    }
  }
}

.footer {
  @include bgpanel($gray);
  @extend %body-text;
  padding: $small-spacer $small-spacer $spacer;
  border-left: $spacer solid $dark-gray;
  color: $header-color;

  a {
    @include transition();
  }

  .pull-left .fa {
    padding: 0 .5em;
  }

  .pull-right .fa {
    font-size: $medium-size;
    margin: 0 .5em;
  }
}
