// Main.scss
// This file is ONLY for imports and variables
// see additional variables in bootstrap/_variables.scss

// IMPORTS:
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables';
@import './local-variables';
@import './general';

// PAGE STYLES ------------------------------------------------------------------

// INDEX
.index-page {

  .header-panel {
    // @include bgimage-gradient('bg.jpg', .75, 0);
    @include bgimage-gradient('bg3.png', .2, 0);
    background-repeat: repeat;
    background-size: 100%;
    min-height: 40vh;

    .title-panel {
      padding-top: $header-spacer + $spacer;
    }
  }

  .event-tile {
    @include transition();
    background-color: $light-gray-accent;
    border: 1px solid $dark-gray;
    margin: 1em;
    padding: 2em;

    .panel-header {
      font-size: 2em;
    }

    .explore {
      @include transition();
      @extend %logistics-text;
      background-color: $blue;
      text-transform: uppercase;
      padding: .8em;
      position: absolute;
      opacity: 0;
      right: 150px;
      top: 0;
      
      .fa {
        padding-left: .5em;
      }
    }

    .fa-container {
      @include transition();
      background-color: $header-color;
      border: $border-width solid $dark-gray;
      border-radius: 100%;
      display: table;
      height: $icon-size + 5em;
      margin: 0 auto;
      width: $icon-size + 5em;
    
      .fa {
        @include transition();
        color: $dark-gray;
        display: table-cell;
        font-size: $icon-size;      
        vertical-align: middle;
      }
    }    

    &:hover {
      background-color: $light-gray;

      .fa-container {
        border-color: $highlight-color;
      
        .fa {
          color: $highlight-color;
        }
      }

      .explore {
        @include transition(.5s);
        opacity: 1;
        right: 10px;
      }

    }
  }

  .event-description {
    margin: 10px 0;

    .description {
      @extend %body-text;
      border-top: .2em solid $dark-gray;
      margin: 10px;
      padding-top: 10px;
    }
  }

  .sponsor-panel {
    @include bgpanel($header-color);
    padding: none;
  }

  .sponsor-description {
    @extend %logistics-text;
    background-color: $dark-blue;
    text-transform: uppercase;
    line-height: $small-size;
    padding: $small-spacer;
  }

  .sponsor-img-row {
    padding: 1em;
  }

  .sponsor-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 20vh;
    position: relative;
  }

@media screen and (min-width: $screen-sm) {
  .sponsor-img-container, .sponsor-description {
      float: none;
      display: table-cell;
      vertical-align: middle;
  }
}

  .mailing-list-panel {
    @include bgpanel($light-gray);
    min-height: 40vh;  
  }

  .sign-up {
    padding-top: 1em;
  }

}

// EVENTS
.event-page {
  min-height: $bgpanel-height;

  .header-panel {
    @include bgpanel($light-gray);
    padding-top: $header-spacer + $spacer;
  }

  .event-panel {
    @include bgpanel($white);
  }

  .event-tile {
    display: table;
    margin: $small-spacer auto;
    min-height: 200px;
    width: 85vw;

    .event-row {
      display: table-row;
    }

    .left {
      @include transition();
      display: table-cell;
      vertical-align: top;
      padding: 0 $small-spacer 1em;
      text-align: right;
      width: 30%;
      border-right: $border-width solid $dark-gray;

      .rsvp {
        @include transition();
        opacity: 1;
        @extend %logistics-text;
        text-transform: uppercase;
        margin-top: 1em;
        float: right;
        color: $highlight-color;
      }

      .rsvp-circle {
        @include transition();
        opacity: 0;
        display: table;
        float: right;
        margin-right: -$icon-size + 1em;
        margin-top: 1em;
        border: $border-width solid $header-color;
        color: $header-color;
        border-radius: 100%;
        height: $icon-size;
        width: $icon-size;

        .fa {
          display: table-cell;       
          vertical-align: middle;
          font-size: $icon-size - 2em;
          text-align: center;
        }
      }

      &:hover {
        background-color: $highlight-color;
        border-width: 0;
        padding-top: 1em;

        .panel-header {
          color: $header-color;
        }

        .rsvp {
          opacity: 0;
        }

        .rsvp-circle{
          opacity: 1;
        }
      }

    }

    .right {
      display: table-cell;

      .description {
        @extend %body-text;
        @include transition();
        min-height: 160px;
        background-color: $light-gray;
        padding: 1em;
        height: 100%;
      }
    }

    .logistics {

      .fa {
        font-size: $small-size;
        padding-right: 1em;
      }

      .date, .time, .location {
        @extend %logistics-text;
        float: left;
        padding: 1em 2em;
        text-transform: uppercase;
      }

      .date {
        background-color: $dark-gray;
      }

      .time {
        background-color: $dark-blue;
      }

      .location {
        @include transition();
        background-color: $blue;

        &:hover {
          background-color: $highlight-color;
        }
      }
    }
  }

}

// REX
.rex-page {
  min-height: $bgpanel-height;

  .header-panel {
    @include bgpanel($light-gray);
    padding-top: $header-spacer + $spacer;
  }

  .rex-panel {
    @include bgpanel($white);
  }

  .project-tile {
    border-collapse: collapse;
    background-color: $light-gray;
    height: $tile-height;
    width: 100%;
    margin: 1em;
    padding: 0;

    &:hover {

      .title-container {
        @include transition(.7s);
        background-position: left;        
      }

      .title {
        @include transition(.7s);
        color: $header-color;
      }

      .bottom-accent {
        @include transition(.7s);
        background-position: left;
      }
    }
  }

  .title-container{
    @include transition();
    // background-color: $light-gray-accent;
    background: linear-gradient(to right, $highlight-color 50%, $light-gray-accent 50%);
    background-size: 200% 100%;
    background-position: right;    
    text-align: center;
    height: $tile-height;
    width: 100%;
  }

  .title {
    @include transition();    
    color: $dark-gray;
    width: 100%;
    padding: .5em;
  }

  .bottom-container {
    @extend %body-text;      
    width: 100%;
    text-align: center;
    white-space: nowrap;
  }

  .area {
    @each $area,$color in $areas {
      &.#{$area} {
        background-color: $color;
      }
    }

    color: $header-color;
    width: 65%;
    padding: 1em;
  }

  .prof {
    width: 35%;
  }

  .bottom-accent {
    @include transition();    
    height: $border-width;
    background: linear-gradient(to right, $gray 50%, $dark-gray 50%);
    background-size: 200% 100%;
    background-position: right;
  }
}

// PROJECT
.project-page {
  min-height: $bgpanel-height;

  // .nav-back {
  //   @extend %nav-text;
  //   background-color: $gray;
  //   width: 100%;

  //   a {
  //     color: $header-color;

  //     &:hover .back-btn{
  //       background-color: lighten($dark-gray, 10%);
  //     }
  //   }
  // }

  // .back-btn {
  //   @include transition();
  //   float: left;
  //   background-color: $dark-gray;

  //   .fa {
  //     padding-right: .8em;
  //     color: $header-color;
  //   }
  // }

  .header-panel {
    @include bgpanel(lighten($gray,10%));
    padding-top: $header-spacer + $spacer;

    .sub-header {
      color: $header-color;
    }

    .highlight-text {
      @each $area,$color in $areas {
        &.#{$area} {
          background-color: $color;
        }
      }
    }
  }

  .description-panel {
    @extend %body-text;
    @include bgpanel($light-gray)
  }

  .info-panel {
    @extend %body-text;
    @include bgpanel($white);
    padding-top: 1em;
  }

  .middle-info {
    margin: 1em 0;

    .panel-header {
      font-size: $small-size;
    }
  }

  .prof-panel {
    @include transition();
    background-color: $light-gray-accent;
    color: $dark-gray;
    margin: 1em 0;
    padding: 1em;
    min-height: 150px;
    height: auto;
    width: 100%;

    .prof-photo {
      background-position: 55% 15%;
      background-repeat: no-repeat;
      background-size: cover;
      width: 30%;
    }

    .right {
      @include transition();
      width: 70%;
      padding: 1em;
      vertical-align: top;
      border-left: $border-width solid $dark-gray;
    }

    .panel-header {
      @include transition();
    }

    &:hover {

      background-color: $highlight-color;

      .right {
        border-width: 0;
        color: $header-color;
      }

      .panel-header {
        color: $header-color;
      }

    }

  }

  .student-panel {
    background-color: $light-gray-accent;
    text-align: center;    
    margin: 1em 0;
    padding: 1em;
    min-height: 150px;
    height: auto;
    width: 100%;
  }

}

// JOURNAL
.journal-page {
  min-height: $bgpanel-height;

  .header-panel {
    @include bgpanel($light-gray);
    padding-top: $header-spacer + $spacer;

    a {
      color: $dark-gray;

      &:hover {
        color: $highlight-color;
      }
    }

    .highlight-text {
      background-color: $highlight-color;

      &:hover {
        background-color: lighten($highlight-color, 10%);
      }
    }
  }

  .journal-panel {
    @include bgpanel($white);
    z-index: 0;
  }

  .journal-bg {
    @include transition();
    @include bgimage-gradient('cover.png', .5, .5);     
    z-index: 50;
    position: absolute;
    height: 100%;
    width: 80%;
    top: 0;
    left: 10%;
    background-size: 110%;
    background-position: 0 45%;

    .inset {
      @include transition();
      z-index: 60;
      height: 100%;
      width: 0;
      background-color: $blue;
    }
  }

  .journal-portal {
    text-align: center;
    padding: 1em;

    a {      
      &:hover {
        color: $header-color;

        .journal-bg {
          background-size: 100%;
          background-position: right top;

          .inset {
            width: 10%;
          }
        }

        .fa-container {
          background-color: $highlight-color;          
        }

        .fa-arrow-right {
          opacity: 1;
          left: 30%;
        }

        .fa-book {
          opacity: 0;
          left: 90%
        }

        .slide-in {
          left: 10%;
        }
      }
    }

    .panel-header, .fa-container {
      position: relative;
      z-index: 100;
    }

    .panel-header {
      @include transition();
      color: $header-color;
    }

    .fa-container {
      @include transition();
      background-color: $dark-gray;
      border-radius: 100%;
      height: $icon-size + 5em;
      width: $icon-size + 5em;
      margin: 1em auto;
      padding: $small-spacer;
    }

    .fa {
      @include transition();
      position: absolute;
      top: 25%;
      font-size: $icon-size;
    }

    .fa-book {
      left: 30%;
    }

    .fa-arrow-right {
      left: -60%;
      opacity: 0;
    }
  }

  .journal-blurb {
    @extend %body-text;
  }

}

// CONTACT
.contact-page {
  min-height: $bgpanel-height;

  .header-panel {
    @include bgpanel($light-gray);
    padding-top: $header-spacer + $spacer;
  }

  .execs-panel {
    @include bgpanel($white);
  }

  .execs-tile {
    margin: 1em;
    background-color: $light-gray;
    table-layout: fixed;
    width: 100%;
  }

  .photo-container {
    background-color: $light-gray;
    border: 1px solid $dark-gray;
    text-align: center;
    background-position: 55% 15%;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: bottom;
    width: 35%;

    .fa {
      font-size: 10em;
      margin-bottom: 8vh;
      text-align: center;
      color: $dark-gray;
    }

  }

  .right {
    vertical-align: top;
    width: 65%;

    @each $position,$color in $positions {
      &.#{$position} {
        border-left: $border-width solid $color;
      }
    }
  }

  .name {
    padding: .5em;
    background-color: $dark-gray;
    text-align: center;
    white-space: nowrap;

    .panel-header {
      color: $header-color;
    }
  }

  .position {
    @extend %body-text;
    color: $header-color;
    text-align: center;
    padding: .5em;

    @each $position,$color in $positions {
      &.#{$position} {
        background-color: $color;
      }
    }
  }

  .top {
    display: table;
    text-align: center;
    background-color: $header-color;
    border-radius: 100%;
    height: $icon-size + .5em;
    width: $icon-size + .5em;
    margin: 0 auto;

    .fa {
      display: table-cell;
      color: $dark-gray;
      vertical-align: middle;
      font-size: $icon-size - 1.5em;
    }
  }

  .discipline {
    background-color: $light-gray-accent;
    border-bottom: 1px solid $light-gray-accent;    
    float: left;
    width: 50%;
    padding: 1em;

    .bottom {
      @extend %logistics-text;
      padding-top: 1em;
      text-align: center;
      color: $dark-gray;
    }
  }

  .email {
    @include transition();
    border-right: 1px solid $light-gray-accent;
    border-bottom: 1px solid $light-gray-accent;
    text-align: center;
    float: left;
    width: 50%;
    height: 100%;
    padding: 1em;
    // word-wrap: break-word;

    .fa {
      @include transition();
    }

    &:hover {
      background-color: $highlight-color;
      border-right: 1px solid $dark-gray;
      border-bottom: 1px solid $dark-gray;

      .fa {
        color: $highlight-color;
      }

      .bottom {
        color: $header-color;
      }
    }

    .bottom {
      @extend %body-text;
      padding-top: 1em;
    }
  }

}

